#quotes{
  margin-top: 40px;

}
.quote-footer {
  bottom:0;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: block;
  width: 50%;
  text-align: center;
}
.quote-footer a {
  position: relative;
  display: inline-block;
}
.next-quote, .quote-footer {
  position:absolute;
  color: red;
  // font-family: 'Alice', serif;
  // font-family: 'Oswald', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;

}

.quote-container {
  text-align:center;
  width: 80%;
  margin: 0 auto;
  position: relative;
  display:flex;
  height: 75vh;
  align-items: center;
 }

.quote-text{
  display:inline-block;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 10px;
  color: #000;
}

.quote {
  margin: 0 auto;
  width: 400px;
  min-width: 200px;
  padding: 10px;
}

.quote-text {
  display:inline-block;
  width: 80%;
  margin: 0 auto;
  font-size: 1.3em;
}

.quote-author {
  margin: 0 auto;
  margin-top: 20px;
}

.link-next, .link-previous, .footer {
  transition: all .1s ease-in-out;
  color: #000;
  font-size: 1.5em;
  margin: 20px;
  opacity: 0.5;
  padding-bottom: 25px;
  &:hover {
    transform: scale(1.1);
    color: #fff;
    opacity: 0.7;
  }
}
.link-next {
  right:-40px;
}
.link-previous {
  left: -40px;

}


#footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  text-align: center;
  padding-bottom: 10px;
  opacity: 0.5;
  a {
    color: black;
    &:link {
      text-decoration: none;
    }
    &:hover {
      text-decoration: underline;
    }
  }
}
